<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sandwishes">make my sandwish</a></li>
        <li><a href="/masters">sandwish masters</a></li>
        <li><a href="/delivery">delivery options</a></li>
    </ul>
</nav>