# build output
dist
 

# dependencies
node_modules
.vscode
package-lock.json

# logs & pids
*.log
pids

# files
.env
 

# test output

#docs
docs
 

# vscode settings
.vscode

# examples
 

# Vercel


#Firebase


 