
 
    <header>
      <h1>Sandwishes</h1>
      <p>if you leave we both go hungry</p>
      <div class="options">
      <a class="option" href="/order">make a wish</a>
      <a  class="option" href="/masters">select from the masters</a>
      </div>
     
    </header>
 
 

<main></main>
